{% extends "base.html" %}
{% block title %}New reminder · MemoryBell{% endblock %}

{% block content %}
{% set r = prefill or {} %}
{% set heading = 'Duplicate reminder' if prefill else 'New reminder' %}
{% set subheading = 'Change what’s different, then save it as a new reminder.' if prefill else 'Add a date and we’ll text you before it comes around.' %}
{% set submit_label = 'Create reminder' %}
{% set show_delete = false %}
{% set show_presets = not prefill %}
{% include "_reminder_form.html" %}
{% endblock %}
